.syntaxhighlighter .line .number {
  display:none !important
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #BC9458  !important;
  font-style:italic !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #A5C261 !important;
}

.syntaxhighlighter .keyword {
  color: #CC7833 !important;
}

.syntaxhighlighter .undefined{
  color:#CC7833  !important;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color:  #CC7833  !important; /*brred*/
}

.syntaxhighlighter .variable {
  color:#6D9CBE !important; /*brcyan*/
}

.syntaxhighlighter .value {
  color:#A5C261 !important; 
}

.syntaxhighlighter .functions {
  color: white !important; 
}

.syntaxhighlighter .symbol{
  color: #0066cc !important; 
}

.syntaxhighlighter .constants {
  color: #6D9CBE !important;
}

.syntaxhighlighter  .color3{
  color: #0066cc !important;
}


.syntaxhighlighter  .java.plain{
  color: white !important;
}

.syntaxhighlighter  .java.keyword{
  color: #CC7833  !important;
}
