.syntaxhighlighter.printing .line .number {
  display:none !important
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color:  #dc322f  !important; /*brred*/
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #839496 !important;/*solarized bblue*/
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #2aa198 !important;
}
.syntaxhighlighter .keyword {
  color:#cb4b16 !important;
}
.syntaxhighlighter .undefined{
  color:#dc322f !important;
}
.syntaxhighlighter .variable {
  color: #93a1a1 !important; /*brcyan*/
}
.syntaxhighlighter .value {
  color: #93a1a1 !important; /*brcyan*/
}
.syntaxhighlighter .functions {
  color: #93a1a1 !important; /*brcyan*/
}
.syntaxhighlighter .symbol{
  color: #93a1a1 !important; /*brcyan*/
}

